<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="app.main"></a>

  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <span class="icon-options-vertical"></span>
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#"></a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#"><i class="icon-settings"></i></a>
    </li>
  </ul>
  
</header> 