<div class="animated fadeIn">
	<div class="row">
    <div class="col-xxs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" ng-repeat="s in sensors">
      <div class="card sensorWidget card-1">
        <div class="card-body p-0 clearfix">
          <i class="{{s.icon}} {{s.color}} p-4 {{s.icon != 'N/A' ? 'font-2xl' : 'f1'}} mr-3 float-left">
          	{{s.icon == 'N/A' ? s.name : ''}}
          </i>
          <div class="h5 text-primary mb-0 pt-3">{{s.value}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{s.name}}</div>
        </div>
      </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Last events</h4>
          <div class="small text-muted">November 2017</div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors" height="300"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
</div>