<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Email Notifications List
        </div>

        <div class="card-body p-0">
            <table class="table table-hover table-striped table-align-middle mb-0 text-center">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Option</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>123@cinvestav.mx</h5>
                        </td>
                        <td class="w-50">
                            <label class="md-radio block">
                                <input type="radio" name="demo1[]">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per alert
                                </div>
                            </label>
                            <label class="md-radio block">
                                <input type="radio" name="demo1[]" checked="true">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per day
                                </div>
                            </label>
                        </td>
                        <td class="w-25">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>456@ttr.mx</h5>
                        </td>
                        <td class="w-50">
                            <label class="md-radio block">
                                <input type="radio" name="demo2[]" checked="true">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per alert
                                </div>
                            </label>
                            <label class="md-radio block">
                                <input type="radio" name="demo2[]">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per day
                                </div>
                            </label>
                        </td>
                        <td class="w-25">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>678@sagarpa.gob.mx</h5>
                        </td>
                        <td class="w-50">
                            <label class="md-radio block">
                                <input type="radio" name="demo3[]">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per alert
                                </div>
                            </label>
                            <label class="md-radio block">
                                <input type="radio" name="demo3[]" checked="true">
                                <span class="md-radio--fake">
                                        <span></span>
                                </span>
                                <div>
                                    per day
                                </div>
                            </label>
                        </td>
                        <td class="w-25">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
            <div class="offset-md-8 col-md-2">
                <button type="button" class="btn btn-block btn-primary btn-lg card-2">Add</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-orange btn-lg card-2">Save</button>
            </div>
        </div>
<div class="col-sm-12 col-md-1">&nbsp;</div>

</div>
