<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Set Sensors Range
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-striped table-align-middle mb-0 text-center">
                <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Range</th>
                        <th>Send Notification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>NO2</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>O3</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider2.minValue" rz-slider-high="slider2.maxValue" rz-slider-options="slider2.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>PHOTOMETER</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider3.minValue" rz-slider-high="slider3.maxValue" rz-slider-options="slider3.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>ULTRASONIC</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider4.minValue" rz-slider-high="slider4.maxValue" rz-slider-options="slider4.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>PIR</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider5.minValue" rz-slider-high="slider5.maxValue" rz-slider-options="slider5.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>CO</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider6.minValue" rz-slider-high="slider6.maxValue" rz-slider-options="slider6.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 font-weight-bold">
                            <h5>CO2</h5>
                        </td>
                        <td class="w-50">
                            <rzslider rz-slider-model="slider7.minValue" rz-slider-high="slider7.maxValue" rz-slider-options="slider7.options"></rzslider>
                        </td>
                        <td class="w-25">
                            <label class="switch switch-text switch-pill switch-info">
                                <input type="checkbox" class="switch-input" checked="">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
            <div class="offset-md-10 col-md-2">
                <button type="button" class="btn btn-block btn-orange btn-lg card-2">Save</button>
            </div>
        </div>
<div class="col-sm-12 col-md-1">&nbsp;</div>

</div>