$material-colors: (
  blue:                           #2196F3,
  indigo:                         #3F51B5,
  purple:                         #673AB7,
  pink:                           #E91E63,
  red:                            #F44336,
  orange:                         #FF9800,
  yellow:                         #FFEB3B,
  amber:                          #FFC107,
  ligthgreen:                     #8BC34A,
  green:                          #4CAF50,
  teal:                           #009688,
  cyan:                           #00BCD4,
  bluegray: 					  #607D8B
);